/* Enter your custom styles here */

/* for making page title as Blue color */
.titleclass{
    color:blue;
}

.customToolbar .sapMTB {
    height: 3rem;
}

.se{
    background-image: url("https://assets.hongkiat.com/uploads/coolest-libraries-in-the-world/leeds-library.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sample{
    color: red;
    height: max-content;
    font-size: large;
}

.tableRowEven {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

.tableRowOdd {
    background-color: #ffffff; /* White background for odd rows */
}
.setcolor{
    background-color: burlywood;
}
.setcolor1{
    background-color: chartreuse;
}
.setcolor2{
    background-color:chocolate;
}
.setcolor4{
    background-color: darkmagenta;
}
.setcolor3{
    background-color: lemonchiffon;
}