/* Enter your custom styles here */

/* for making page title as Blue color */
.titleclass {
    color: rgb(222, 249, 196);
}

.customToolbar .sapMTB {
    height: 5rem;
}

.se {
    background-image: url("https://assets.hongkiat.com/uploads/coolest-libraries-in-the-world/leeds-library.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sample {
    color: whitesmoke;
    height: max-content;
    font-size: large;
}

.tableRowEven {
    background-color: #f2f2f2;
    /* Light gray background for even rows */
}

.tableRowOdd {
    background-color: #ffffff;
    /* White background for odd rows */
}

.setcolor {
    background-color: burlywood;
}

.setcolor1 {
    background-color: rgb(222, 249, 196);
}

.setcolor2 {
    background-color:rgb(187, 233, 255);
}

.setcolor4 {
    background-color: rgb(255, 233, 208);
}

.setcolor3 {
    background-color: lemonchiffon;
}

@media (max-width: 768px) {

    /* Styles for tablets and smaller */
    .toolHeader {
        flex-direction: column;
    }

    .navigationList {
        width: 100%;
    }
}

.sss,.sapUiContentPadding {
    /* background-color: blueviolet; */
    background-size: cover; /* Adjust as per your image size preference */
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: changeBackground 50s infinite; /* Change every 5 seconds (4 images) */
}

@keyframes changeBackground {
    0% {
        background-image: url("https://img.freepik.com/free-photo/truck-with-trailer-road_1340-32492.jpg");
    }
    25% {
        background-image: url("https://t3.ftcdn.net/jpg/04/92/39/74/240_F_492397454_2QniwEAC2qKa007ntMRzK6WbDGguY2Wh.jpg"); /* Replace with your second image URL */
    }
    50% {
        background-image: url("https://static.vecteezy.com/system/resources/previews/005/139/574/large_2x/trucks-stand-in-a-row-in-the-parking-lot-front-view-park-truck-photo.jpg"); /* Replace with your third image URL */
    }
    75% {
        background-image: url("https://t3.ftcdn.net/jpg/08/38/59/86/240_F_838598672_qQzHHURxxBPa05gU1CdUjZqt0nhAgR0g.jpg"); /* Replace with your fourth image URL */
    }
    100% {
        background-image: url("https://img.freepik.com/free-photo/truck-with-trailer-road_1340-32492.jpg"); /* Back to the first image */
    }
}

   

.customDialogPosition .sapMDialogCont {
    left: 10px !important;
    /* Adjust the left position as needed */
}
 
.toolHeader{
    background-color: #FFFBDA;
}
.sa{
    background-color:rgb(97, 103, 122);
    color: #007bff;
}
/* .sapUiContentPadding{
    color:aliceblue;
    /* background-color: cornsilk; */
    /* background-image: url("https://img.freepik.com/free-photo/truck-with-trailer-road_1340-32492.jpg"); */
/* } */ */
/* Default light mode styles */
body {
    background-color: #f0f0f0; /* Light background */
    color: rgb(204, 213, 174) /* Dark text */
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333; /* Dark background */
    color: #f0f0f0; /* Light text */
}
.custom-header {
    
        background-color: cadetblue;
        background-image: linear-gradient(to bottom,rgb(109, 164, 170),rgb(100, 125, 135));
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        height:10vh !important;
        /* height: 200% !important; */
}
 
.temp{
    background-image: url("https://img.freepik.com/free-photo/truck-with-trailer-road_1340-32492.jpg");
}
.customPopoverContent {
    width: 600px;
    height: 200px;
    overflow: auto; /* Optional: Add this to handle overflow content */
   
}

/* Dark mode */
.dark-mode .sapUiBody {
    background-color: #333; /* Example dark background color */
    color: #fff; /* Example light text color */
}



.badge {
    position: absolute;
    top: -10px; /* Adjust this value to position the badge vertically */
    right: -10px; /* Adjust this value to position the badge horizontally */
    background-color: #BB86FC   !important ;/* Badge background color */
    color: white; /* Badge text color */
    padding: 2px 5px; /* Padding inside the badge */
    border-radius: 50%; /* Make the badge circular */
    font-size: 12px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
}
 .ssss{
    color:red;
    background-color: #007bff;
 }
 .sssss{
    text-decoration-color: #BB86FC;
 }
 .cl{
    background-color: rgb(255, 233, 208);
 }
 .cssa{
    background-color: rgb(243, 248, 255);
 }